{% extends 'shop/layouts/main.html' %}

{% block title %}
Cart | Shop
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="mb-4 text-primary font-weight-bold">Your Cart Items</h4>
        <hr style="border-color:#b8bfc2;">
      </div>

      <div style="width: 100%; overflow-x: scroll;">
        {% if cart %}
        <table class="table table-bordered table-striped align-middle" style="background-color: rgb(255, 255, 255); ">
          <thead style="background-color: antiquewhite;">
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
            <tr class="">
              <td><img src="{{item.product.product_image.url}}" class="cart-item-img" alt="{{item.product.name}}"></td>
              <td>{{item.product.name}}</td>
              <td>Rs.{{item.product.selling_price | stringformat:'d'}}</td>
              <td>{{item.product_qty}}</td>
              <td class="amt">Rs.{{item.total_cost | stringformat:'d'}}</td>
              <td>
                <a href="{% url 'remove_cart' item.id %}"
                  onclick="return confirm('Are you sure you want to remove this item from your cart?')"
                  class="btn btn-danger btn-sm btn-rounded">
                  <i class="fa fa-trash"></i> Remove
                </a>
              </td>
            </tr>
            {% endfor %}

            <tr class="table-break" style="background-color: #ffffff; --bs-table-accent-bg: white;">
              <td colspan="6" class="py-3" style="border: none; background-color: #ffffff;"></td>
            </tr>

            <tr class="table-info">
              <td colspan="4" style="text-align: left;"><b>Total Amount</b></td>
              <th id="net" class="text-center">Rs : 0</th>
              <td class="text-center">
                <a class="btn btn-success btn-sm btn-rounded" href="{% url 'payment'%}">
                  <i class="fa fa-check-circle"></i> Proceed to Checkout
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <p class="text-center">Your cart is empty. Please add items to your cart before checking out.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script>
  const nodes = document.querySelectorAll('.amt');
  const arr = Array.from(nodes);
  const res = arr.reduce((acc, curr) => {
    const price = parseFloat(curr.textContent.replace('Rs.', '').trim());
    return acc + (isNaN(price) ? 0 : price);
  }, 0);
  document.getElementById("net").innerHTML = "Rs. " + res.toFixed(2);
</script>

{% endblock content %}